header#header_area
 include ../mixins/mixins.jade
 +nav("Future Imperfect", "dropdown_menu")
  +nav_item( "index.html", "active" ) Home
  +nav_item( "about.html" ) About us
  +nav_item( "services.html" ) Services
  +nav_item( "galleries.html" ) Galleries
  +nav_item( "contact.html" ) Contact