doctype
html(lang="en")
 head
  title Future Imperfect
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=no-scalable")
  link(href="assets/css/main.css" rel="stylesheet" media="screen")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
 body
  include ./includes/header.jade
  include ./includes/section.jade
  script(src='../../vendor/javascripts/bootstrap.js')